body, html {
    margin: 0 0;
}

:root {
    --gradient-light: #EE964B;
    --gradient-dark: #F95738;
    --bcg: linear-gradient(135deg, var(--gradient-dark) 10%, var(--gradient-light) 80%);
}

body {
    background-color: var(--form-color);
    overflow: hidden;
}

form {
    border: 1px solid black;
}

ul {
    padding: 0;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#title {
    margin: 40px 40px;
    font-size: 144px;
    color: var(--text-color);
    cursor: default;
    user-select: none;
    width: 70%;
}

.content {
    position: relative;
    display: flex;
    flex-direction: row;
}

article {
    margin: 0 30px;
    font-size: 26px;
    color: var(--text-color);
}

article li {
    list-style: none;
    margin: 40px 0px;
}

/* Forms positioning */

#login {
    flex: 0 0 375px;
    margin-right: 120px;
    margin-left: 120px;
}

#wordsForm {
    position: absolute;
    top: 400px;
    left: 200px;
}

/* Messages styling */

#messages {
    position: absolute;
    display: grid;
    top: -15%;
    grid-template-rows: auto auto auto;
    transform: rotate(-41deg) translate(-50%, 0);
    z-index: -4;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#middle {
    transform: translate(150px, 0);
}

.message {
    position: relative;
    display: flex;
    width: 300px;
    height: 100px;
    padding: 0px 10px;
    margin: 10px;
    background-color: var(--input-color);
    border-radius: 9px;
    color: var(--form-color);
    
}

.message > p {
    position: absolute;
    width: 95%;
    height: 30%;
    margin: 10px 10px;
    vertical-align: middle;
    word-wrap: break-word;
}

.word {
    height: 70%;
    left: 0;
    top: 0;
    font-size: 32px;
    text-align: left;
}

.author {
    right: 0;
    bottom: 0;
    font-size: 24px;
    text-align: right;
}

/* Animation element */

.animationWrapper {
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
}

#mainElement {
    position: absolute;
    width: 2828px;
    height: 1080px;
    right: 0;
    bottom: 0;
    z-index: -3;
    clip-path: url(#mainClip);

    background-image: var(--bcg);
    background-attachment: fixed;
}

#smallElement {
    position: absolute;
    width: 1047px;
    height: 916px;
    right: 0;
    bottom: 0;
    z-index: -4;
    transition: all 300ms ease;
}

#innerSmall {
    width: 100%;
    height: 100%;
    clip-path: url(#smallClip);
    background-image: var(--bcg);
    background-attachment: fixed;
}
 
/* FOOTER styling */

footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--form-color);
    font-size: 18px;
}

footer p {
    margin: 0;
}

footer ul {
    margin: 0;
}

footer li {
    list-style: none;
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}

/* Utilities */

#switch {
    position: absolute;
    left: 100px;
    bottom: 100px;
    z-index: 4;
}

.moved {
    transform: translate(300px, 300px);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}


/* MEDIA QUERY */


@media screen and (max-width: 1200px) {

    body {
        overflow: scroll;
        background-color: var(--gradient-dark);
    }


    #title {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    
    .content {
        flex-wrap: wrap;
    }

    article {
        font-size: 36px;
        text-align: center;
    }

    article li {
        list-style: none;
        margin: 0px 40px;
    }

    #login {
        flex: 1 1 auto;
        align-content: center;
        margin: 0 80px;
    }

    .animationWrapper {
        display: none;
    }
}