body, html {
    margin: 0 0;
}

:root {
    /* DEFAULT STYLE 
    --gradient-light: #EE964B;
    --gradient-dark: #F95738;
    --text-color: #FAF0CA;
    --form-color: #0D3B66;
    --input-color: #F4D35E;
    */

    /* RED 
    --gradient-light: #ef233c;
    --gradient-dark: #d90429;
    --text-color: #2b2d42;
    --form-color: #edf2f4;
    --input-color: #8d99ae;
    */

    /* GREEN 
    --gradient-light: #4ecdc4;
    --gradient-dark: #1a535c;
    --text-color: #f7fff7;
    --form-color: #ffe66d;
    --input-color: #ff6b6b;
    */

    /* DARK RED
    --gradient-light: #98c1d9;
    --gradient-dark: #3d5a80;
    --text-color: #e0fbfc;
    --form-color: #293241;
    --input-color: #ee6c4d;
    */

    /* GREEN - RED
    --gradient-light: #a1c181;
    --gradient-dark: #619b8a;
    --text-color: #fcca46;
    --form-color: #233d4d;
    --input-color: #fe7f2d;
    */

    --gradient-light: #EE964B;
    --gradient-dark: #F95738;
    --text-color: #FAF0CA;
    --form-color: #0D3B66;
    --input-color: #F4D35E;
      
    --bcg: linear-gradient(135deg, var(--gradient-dark) 10%, var(--gradient-light) 70%);
}

body {
    overflow: hidden;
}

form {
    border: 1px solid black;
}

ul {
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

#title {
    margin: 10px 3% 0 3%;
    font-size: 120px;
    color: var(--text-color);
    cursor: default;
    user-select: none;
    width: 90%;
}

.content {
    position: absolute;
    top:50%;
    transform: translate(0, -40%);
    display: flex;
    flex-direction: row;
    transition: 300ms transform ease;
}

article {
    margin: 0 30px;
    font-size: 22px;
    color: var(--text-color);
}

article li {
    list-style: none;
    margin: 40px 0px;
}

#info {
    padding: 0 10% 0 1%;
}

#wordsContent {
    padding-right: 30%;
}

#wordsContent h2 {
    font-size: 24px;
    text-align: center;
}

.contentColumn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

#left {
    flex: 3;
}
#right {
    flex: 2;
}

#tutorial {
    padding-right: 0;
}

#dbButton {
    height: 100px;
    background-color: var(--input-color);
    color: var(--form-color);
    border: none;
    border-radius: 12px;
    font-size: 36px;
    margin: 0 30px;
}

#dbButton:focus {
    outline: none;
}


button {
    transition: 300ms all ease;
}

button:hover {
    transform: scale(1.1);
}

/* Forms positioning */

#loginForm {
    flex: 0 0 375px;
    margin-right: 120px;
}

#wordsForm {
    width: auto;
}

/* Messages styling */

#messages {
    background-color: var(--form-color);
    position: absolute;
    transform-origin: top left;
    display: flex;
    flex-direction: column;
    transform: rotate(-41deg) translate(-10%, -100%);
    z-index: -3;
    transition: 300ms opacity ease;
}

.row {
    display: flex;
    flex-direction: row;
}

.second {
    transform: translate(-150px, 0);
}

.message {
    position: relative;
    display: flex;
    width: 200px;
    height: 70px;
    margin: 5px 10px;
    background-color: var(--input-color);
    border-radius: 9px;
    color: var(--form-color);
}

.message > p {
    position: absolute;
    width: 95%;
    height: 30%;
    margin: 10px 10px;
    vertical-align: middle;
    word-wrap: break-word;
}

.word {
    height: 70%;
    left: 0;
    top: 0;
    font-size: 24px;
    text-align: left;
}

.author {
    right: 0;
    bottom: 0;
    font-size: 18px;
    text-align: right;
}

/* Animation element */

#animationWrapper {
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
}

#mainElement {
    position: absolute;
    width: 2828px;
    height: 2189px;
    right: 0;
    bottom: 0;
    clip-path: url(#mainClip);

    background-image: var(--bcg);
    background-attachment: fixed;
}

#smallElement {
    position: absolute;
    width: 632px;
    height: 553px;
    right: 0;
    bottom: 0;
    z-index: -2;
    transition: all 300ms ease;
}

#innerSmall {
    width: 100%;
    height: 100%;
    clip-path: url(#smallClip);
    background-image: var(--bcg);
    background-attachment: fixed;
}

#bcg {
    position: fixed;
    top: -100%;
    left: -100%;
    width: 200vw;
    height: 200vw;
    background-image: var(--bcg);
    background-attachment: fixed;
    z-index: -3;
}

#experience{
    display: none;
}
 
/* FOOTER styling */

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--form-color);
    font-size: 14px;
}

footer p {
    text-align: right;
    margin: 0;
}

footer ul {
    margin: 0;
}

footer li {
    list-style: none;
    font-size: 18px;
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}

i {
    color: var(--form-color);
}

/* Utilities */

.moved {
    transform: translate(183px, 183px);
}

.hidden {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transform: translate(0, -100%);
    height: 0px;
}


/* MEDIA QUERY */


@media screen and (max-width: 1000px) {

    html, body {
        height: 100%;
        overflow: scroll;
        background-repeat: no-repeat;
    }

    #title {
        text-align: center;
        margin-bottom: 0;
    }
    
    .content {
        position: relative;
        top: 0;
        transform: none;
        flex-direction: column;
    }

    #wordsContent {
        padding: 0;
    }

    .contentColumn {
        margin: 5% 0;
    }

    article {
        font-size: 24px;
        text-align: center;
    }

    article li {
        list-style: none;
        margin: 0px 40px;
    }

    #info {
        padding: 0;
        margin: 5% 0;
    }

    #loginForm {
        flex: 1 1 auto;
        align-content: center;
        margin: 0 auto;
        width: 600px;
    }

    #wordsForm {
        width: 700px;
        height: 420px;
        margin: 0 auto;
    }

    #experience {
        display: flex;
        justify-content: center;
    }

    footer {
        position: relative;
        display: flex;
        padding-top: 5%;
        justify-content: center;
        color: var(--form-color);
        font-size: 30px;
    }
    
    footer p {
        margin-right: 20px;
    }

    footer li {
        font-size: 30px;
    }
}