body, html {
    margin: 0 0;
}

body {
    overflow: hidden;
    --bcg: linear-gradient(135deg, rgb(235, 45, 118), rgb(52, 220, 226));
}

form {
    border: 1px solid black;
}

main {
}

#login {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 300px;
    top: 50%;
    transform: translate(0, -50%);
}

#words {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 400px;
    left: 200px;
    display: none;
}

#mainElement {
    position: absolute;
    width: 2681px;
    height: 1024px;
    right: 0;
    bottom: 0;
    z-index: -1;
    clip-path: url(#mainClip);

    background-image: var(--bcg);
    background-attachment: fixed;
}

#smallElement {
    position: absolute;
    width: 974px;
    height: 852px;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all 400ms ease;

    clip-path: url(#smallClip);
    background-image: var(--bcg);
    background-attachment: fixed;
}

#switch {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 2;
}

.moved {
    transform: translate(300px, 300px);
}