.wordsInfo {
    text-align: center;
    margin: auto;

    transition: all 400ms ease;   
}

.wordsInfo button {
    margin-bottom: 15%;
}

.wordsInfo__count {
    color: var(--form-color);
    font-weight: bold;
}

@media screen and (max-width: 1250px) {
    .wordsInfo {
      padding-bottom: 15em;
    }
  }

@media screen and (max-width: 1100px) {

    .wordsInfo {
        padding-bottom: 10em;
        width: 100%;
    }

    .wordsInfo article {
        margin: 20px 0;
    }

    .wordsInfo h2 {
        margin: 0.5em 0;
    }
}