.loginWindow, .loginWindow form {
    display: flex;
    flex-direction: column;
}

.loginWindow {
    width: 25em;
    border-radius: 10px;
    margin: auto;
    margin-right: 5em;
    padding: 3em;

    background-color: var(--form-color);
}

.formField {
    margin: 1em 0;
}

.formField input {
    margin-left: 10%;
    line-height: 2em;
    border: none;
    outline: none;
    background-color: var(--form-color);
    color: var(--text-color);
    font-size: 1.1em;
}


.formField .bar {
    width: 90%;
    height: 6px;
    transition: 150ms all ease;
    background-color: var(--input-color);
    border-radius: 9px;
    margin-left: auto;
}

.wrapper:focus-within > .bar {
    width: 100%;
  
}
  
.wrapper:focus-within {
    outline: none;
}

.loginWindow button {
    outline: none;
    border-radius: 3px;
    border: none;
}

.submitButton {
    background-color: var(--input-color);
    color: var(--form-color);
    font-size: 1.15em;
    width: 100px;
    height: 30px;
    margin-left: auto;  
    margin-bottom: auto;
}

.loginWindow .switch {
    position: relative;
    width: 100%;
    margin-top: 4em;
    display: flex;
}

.loginWindow .switch > button {
    background-color: var(--form-color);
    color: var(--text-color);
    font-size: 1.3em;
    flex: 1;
    transition: all 300ms ease;
}

.loginWindow .switch > .active {
    font-size: 1.8em;
    color: var(--input-color);
    font-weight: bold;
}

.loginWindow .switch .divisor {
    width: 6px;
    height: 3em;
    border-radius: 5px;
    background-color: var(--input-color);
    margin: 0 auto;
}

.loginWindow .switch .divisorWrapper {
    flex: 1;
}

@keyframes fromLeft {
    from { left: -100px; }
    to { left: 0; }
}